In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
!pip install tabulate
from tabulate import tabulate

Requirement already satisfied: tabulate in c:\users\scott\anaconda3\lib\site-packages (0.8.9)

### Airline CSV

In [3]:
airlines = pd.read_csv('../Data/airlines.csv')
airlines.tail()

,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
6157,21248,GX Airlines,NaN,NaN,CBG,SPRAY,China,Y
6158,21251,Lynx Aviation (L3/SSX),NaN,NaN,SSX,Shasta,United States,N
6159,21268,Jetgo Australia,NaN,JG,\N,NaN,Australia,Y
6160,21270,Air Carnival,NaN,2S,\N,NaN,India,Y
6161,21317,Svyaz Rossiya,Russian Commuter,7R,SJM,RussianConnecty,Russia,Y

In [4]:
#how many rows?
airlines.shape

(6162, 8)

In [5]:
airlines.isnull().sum()

Airline ID       0
Name             0
Alias          506
IATA          4627
ICAO            87
Callsign       808
Country         15
Active           0
dtype: int64

In [6]:
#drop Alias column
airlines.drop('Alias', axis=1, inplace=True)
airlines.drop('Callsign', axis=1, inplace=True)
#airlines.head()

In [7]:
#subset for active airlines
airlines = airlines[airlines['Active']=='Y']
airlines.tail()

      Airline ID              Name IATA ICAO    Country Active
6154       21179  Thai Vietjet Air  NaN  TVJ   Thailand      Y
6157       21248       GX Airlines  NaN  CBG      China      Y
6159       21268   Jetgo Australia   JG   \N  Australia      Y
6160       21270      Air Carnival   2S   \N      India      Y
6161       21317     Svyaz Rossiya   7R  SJM     Russia      Y

In [8]:
airlines.rename(columns = {'Name':'Name_al', 'IATA':'IATA_al', 'ICAO':'ICAO_al','Country':'Country_al'}, inplace=True)
airlines.head(2)
#unknown and private, etc., will drop out when joined with delays

   Airline ID         Name_al IATA_al ICAO_al Country_al Active
0          -1         Unknown       -     NaN         \N      Y
1           1  Private flight       -     NaN        NaN      Y

In [9]:
airlines.shape

(1255, 6)

In [10]:
airlines.isnull().sum()

Airline ID      0
Name_al         0
IATA_al       240
ICAO_al        29
Country_al      2
Active          0
dtype: int64

In [11]:
#print(tabulate(airlines, headers='keys', tablefmt='pretty'))

In [12]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
#pd.set_option('display.width', None)
#pd.set_option('display.max_colwidth', -1)

In [13]:
#airlines['newname'] = airlines['Name']
#airlines.head(10)

In [14]:
#airlines['newname'] = airlines['newname'].str.replace('-',' ')
#airlines.head()

In [15]:
#airlines['newname'] = airlines['newname'].str.extract(r'(\w+\s+\w+)')
#airlines.head()

### FAA Regions

In [16]:
FAA_Regions = pd.read_csv('../Data/Federal_Aviation_Administration_FAA_Regions.csv')
FAA_Regions.head(11)

   FID                     REGION  CNT_REGION   Shape_Leng  Shape_Area
0    1         New England Region           6   152.233742   19.099946
1    2             Central Region           4    51.318016   78.091215
2    3            Southern Region           8   471.324583   94.856190
3    4     Western Pacific Region           4    94.202014  101.933953
4    5           Southwest Region           5   428.811114  138.650729
5    6         Great Lakes Region           8   189.109110  139.986989
6    7             Eastern Region           8   308.913778   48.682795
7    8  Northwest Mountain Region           7   151.363696  197.475811
8    9              Alaska Region           1  1033.192985  278.612678

### Airports

In [17]:
airports = pd.read_csv('../Data/Airports.csv')
airports.head()

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [18]:
airports.groupby(['Type']).count()

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Source
Type,,,,,,,,,,,,,
airport,7698,7698,7649,7698,7698,7698,7698,7698,7698,7698,7698,7698,7698

In [19]:
#airports['Country'].unique()

In [20]:
#subset to United States
airports = airports[airports['Country']=='United States']
airports.head()

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
3212,3411,Barter Island LRRS Airport,Barter Island,United States,BTI,PABA,70.134003,-143.582001,2,-9,A,America/Anchorage,airport,OurAirports
3213,3412,Wainwright Air Station,Fort Wainwright,United States,\N,PAWT,70.613403,-159.860001,35,-9,A,America/Anchorage,airport,OurAirports
3214,3413,Cape Lisburne LRRS Airport,Cape Lisburne,United States,LUR,PALU,68.875099,-166.110001,16,-9,A,America/Anchorage,airport,OurAirports
3215,3414,Point Lay LRRS Airport,Point Lay,United States,PIZ,PPIZ,69.732903,-163.005005,22,-9,A,America/Anchorage,airport,OurAirports
3216,3415,Hilo International Airport,Hilo,United States,ITO,PHTO,19.721399,-155.048004,38,-10,N,Pacific/Honolulu,airport,OurAirports

In [21]:
airports.isnull().sum()

Airport ID               0
Name                     0
City                     0
Country                  0
IATA                     0
ICAO                     0
Latitude                 0
Longitude                0
Altitude                 0
Timezone                 0
DST                      0
Tz database time zone    0
Type                     0
Source                   0
dtype: int64

### Passengers

In [22]:
passengers = pd.read_csv('../Data/US Monthly Air Passengers.csv')
passengers.head()

,Sum_PASSENGERS,AIRLINE_ID,CARRIER_NAME,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,YEAR,MONTH
0,0,NaN,NaN,AEX,"Alexandria, LA",LA,Louisiana,US,United States,AEX,"Alexandria, LA",LA,Louisiana,US,United States,2015,3
1,0,NaN,NaN,AEX,"Alexandria, LA",LA,Louisiana,US,United States,AFW,"Dallas/Fort Worth, TX",TX,Texas,US,United States,2015,4
2,0,NaN,NaN,AEX,"Alexandria, LA",LA,Louisiana,US,United States,ATL,"Atlanta, GA",GA,Georgia,US,United States,2015,3
3,89,NaN,NaN,AEX,"Alexandria, LA",LA,Louisiana,US,United States,BOG,"Bogota, Colombia",NaN,NaN,CO,Colombia,2015,1
4,108,NaN,NaN,AEX,"Alexandria, LA",LA,Louisiana,US,United States,BOG,"Bogota, Colombia",NaN,NaN,CO,Colombia,2015,3

In [23]:
passengers.columns

Index(['Sum_PASSENGERS', 'AIRLINE_ID', 'CARRIER_NAME', 'ORIGIN',
       'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM',
       'ORIGIN_COUNTRY', 'ORIGIN_COUNTRY_NAME', 'DEST', 'DEST_CITY_NAME',
       'DEST_STATE_ABR', 'DEST_STATE_NM', 'DEST_COUNTRY', 'DEST_COUNTRY_NAME',
       'YEAR', 'MONTH'],
      dtype='object')

In [24]:
passengers.CARRIER_NAME.unique()

array([nan, 'Reeve Aleutian Airways Inc.', 'Northwest Airlines Inc.',
       'Southwest Airlines Co.', 'Aviateca',
       'Canadian Airlines International Ltd.',
       'Guyana Airways Corporation', 'Air Nauru', 'Balair Ag',
       'Sabena Belgian World Air.', 'Air Afrique', 'Air Canada',
       'Compagnie Natl Air France', 'Air-India',
       'National Aviation Company of India Limited d/b/a Air India',
       'Aeromexico', 'Aerolineas Argentinas', 'Royal Air Maroc',
       'Aerovias Nacl De Colombia', 'Finnair Oy',
       'Alitalia-Linee Aeree Italia', 'Compagnia Aerea Italiana',
       'British Airways Plc', 'British Midland Airways Ltd.',
       'British West Indian Airways', 'Caribbean Airlines Limited',
       'Air China', 'China Airlines Ltd.',
       'Cargolux Airlines International S.A', 'Icelandair',
       'Iberia Air Lines Of Spain', 'Japan Air Lines Co. Ltd.',
       'Air Jamaica Limited', 'Korean Air Lines Co. Ltd.',
       'Klm Royal Dutch Airlines', 'Lan-Chile Airlines',
       'Lloyd Aereo Boliviano S. A.', 'Lufthansa German Airlines',
       'Polskie Linie Lotnicze', 'Lacsa', 'Luftransport-Unternehmen',
       'El Al Israel Airlines Ltd.', 'Compania Mexicana De Aviaci',
       'Olympic Airways', 'Polynesian Airlines Ltd.',
       'Pakistan International Airlines', 'Philippine Airlines Inc.',
       'Surinam Airways Limited', 'Qantas Airways Ltd.', 'Varig S. A.',
       'Alia-(The) Royal Jordanian', 'Tarom Romanian Air Transpor',
       'South African Airways', 'Scandinavian Airlines Sys.',
       'Singapore Airlines Ltd.', 'Aeroflot Russian Airlines',
       'Taca International Airlines', 'Thai Airways International Ltd.',
       'Tap-Portuguese Airlines', 'Bahamasair Holding Limited',
       'Heavylift Cargo Airlines Lt', 'Kuwait Airways Corp.',
       'Aer Turas Teoranta', 'Aer Lingus Plc',
       'Saudi Arabian Airlines Corp', 'Hapag Lloyd Flug.',
       'Air Sunshine Inc.', 'Trans-Air-Link Corporation',
       'Transbrasil S.A.', 'Aloha Airlines Inc.',
       'Virgin Atlantic Airways', 'Horizon Air', 'Hawaiian Airlines Inc.',
       'Continental Air Lines Inc.', 'Egyptair',
       'Compania Panamena (Copa)', 'Aerovias Venezolanas-Avensa',
       'Cathay Pacific Airways Ltd.', 'Viacao Aerea Sao Paulo',
       'Delta Air Lines Inc.', 'All Nippon Airways Co.',
       'Malaysian Airline System', 'Transportes Aereos De Cabo',
       'American Airlines Inc.', 'Turk Hava Yollari A.O.',
       'Nippon Cargo Airlines', 'Swissair Transport Co. Ltd.',
       'Bradley Air Services Ltd.', 'Corse Air International',
       'Monarch Airlines', 'Britannia Airways Ltd.', 'Austrian Airlines',
       'Air Transport International', 'Aero California',
       'Emery Worldwide Airlines', 'Hong Kong Dragonair', 'Air Aruba',
       'Cayman Airways Limited', 'United Parcel Service',
       'Alaska Airlines Inc.', 'Air New Zealand',
       'Lauda Air Luftfahrt Ag',
       'Transportes Aereos Mercantiles Panamericanos S.A',
       'Servicios Avensa', 'China Eastern Airlines', 'Air Transat',
       'Air North', 'United Air Lines Inc.', 'USAir Shuttle',
       'Turks Air Ltd.', 'America West Airlines Inc.', 'Aces Airlines',
       'Sierra Pacific Airlines', 'Eva Airways Corporation',
       'Atlas Air Inc.', 'Aero Transcolombiana', 'Lineas Aereas Allegro',
       'Continental Micronesia', 'Malev Hungarian Airlines',
       'Lineas Aereas Suramerican', 'Aerolineas Uruguayas S.A.',
       'Air Europe S.P.A.', 'UFS Inc.', 'Biman Bangladesh Airlines',
       'Air Wisconsin Airlines Corp', 'Evergreen International Inc.',
       'Air Pacific Ltd.', 'Ghana Airways Corporation',
       'Sky Service F.B.O.', 'Renown Aviation', 'Uzbekistan Airways',
       'Aeromexpress', 'Tower Air Inc.', 'Serv De Trans Aereos Fuegui',
       'Royal Air', 'Custom Air Transport', 'World Airways Inc.',
       'Polar Air Cargo Airways', 'Transaero Airlines',
       'Ecuatoriana De Aviacion', 'Sunworld International Airlines',
       'Federal Express Corporation', 'Northern Air Cargo Inc.',
       'Antonov Company', 'Antonov Design Bureau', 'DHL Aero Expresso',
       'Canada 3000 Airlines Ltd.', 'Air Europa', 'Condor Flugdienst',
       'Aeroejecutivo S.A.', 'City Bird', 'Lb Limited',
       'Sky Trek International Airlines', 'China Southern Airlines',
       'Magadan Airlines', 'Spanair S.A.', 'Air Atlanta Icelandic',
       'Soc.Nouvelle Air Guadeloupe', 'TransMeridian Airlines',
       'Martinair Holland N.V.', 'Florida West Airlines Inc.',
       'Harlequin Air Corporation', 'Amerijet International',
       'Aviacsa Airlines', 'Ethiopian Airlines',
       "Airbus Transport Internat'l", 'Aeropostal Alas De Venezuel',
       'ABSA-Aerolinhas Brasileiras', 'Air Tahiti Nui',
       'Translux Intl Airlines', 'Gulf And Caribbean Cargo',
       'Transportes Aeros Meridiona', 'Lynden Air Cargo Airlines',
       'Mesaba Airlines', 'Kitty Hawk International', 'National Airlines',
       'Asia Pacific', 'Lorair Ltd.', 'Britannia Airways A.B.',
       'TUIfly Nordic A.B.', 'Lapa-Lineas Aereas Privadas',
       'Czech Airlines', 'Jalways Co. Ltd.', 'Sterling Cargo',
       'Lan Peru Airlines', 'Aero Continente', 'Southern Air Inc.',
       'Fine Airlines Inc.', 'Vanguard Airlines Inc.',
       'Gemini Air Cargo Airways', 'Arrow Air Inc.', 'Sky Lease Cargo',
       'Tradewinds Airlines', 'Air Malta', 'C.A.L Cargo Airlines',
       'Ameristar Air Cargo', 'Chicago Express Airlines',
       'Falcon Air Express', 'Champion Air', 'Air Canada Regional',
       'Air Nova', 'Jazz Aviation LP', 'Casino Express', 'XTRA Airways',
       'Taca Peru', 'Air Japan Co', 'Privatair',
       'Trans World Airlines Inc.', 'Trans World Airways LLC',
       'Polyot Airlines', 'Avia Leasing Company',
       'Air Liberte Aka Aom Minerve', 'Aom Minerve S.A.',
       'Express One International Inc.', 'Village Aviation',
       'Air Comet S.A.', 'Estafeta Carga Aereas', 'Katmai Air',
       'Peninsula Airways Inc.', 'Spernak Airways Inc.',
       'Vensecar International', 'Westjet', 'Lineas Aereas Azteca',
       'Alm Antillean Airlines', 'Dutch Caribbean Airlines',
       'Cielos De Peru', 'Swiss International Airlines',
       'Edelweiss Air Ag', 'Sol Air (Aero Hunduras)',
       'Trans States Airlines', 'All Canada Express',
       'Great Plains Airlines Inc.', 'Rio Grande Air', 'Aerolitoral',
       'Pacific Island Aviation', 'Cape Air', 'Colgan Air',
       'Bemidji Airlines', 'Big Sky Airlines Inc.', 'Ellis Air Taxi Inc.',
       'Empire Airlines Inc.', 'Freedom Airlines d/b/a HP Expr',
       'G5 Executive Ag', 'Grand Canyon Helicopters',
       'Global Supply System', 'Allegheny Airlines',
       'Helijet International Inc.', 'Kenmore Air Harbor',
       'New England Airlines Inc.', 'Northwest Seaplanes',
       'Ozark Air Lines Inc.', 'Asiana Airlines Inc.',
       'Airtours International Airways', 'Mytravel Airways', 'Air-Serve',
       'Seaborne Aviation', 'Seaborne Virgin Islands, Inc.',
       'Mountain Bird/Salmon Air', 'Samoa Aviation Inc.',
       'Express.Net Airlines', 'Trans Continental Airlines', 'Ward Air',
       'Vintage Props & Jets Inc.', 'Aloha Island Air',
       'Island Air Hawaii', 'Friday Harbor Seaplanes', 'West Isle Air',
       'Air St. Thomas', 'Air Midwest Inc.', 'Airbc Ltd.', 'Air Georgian',
       'Jetsgo', 'Midway Airlines Inc.', 'Southeast Airlines',
       'Pacific Wings Airlines', 'Kitty Hawk Aircargo',
       'Nolinor Aviation', 'SkyWest Airlines Inc.', 'Pace Airlines',
       'Centurion Cargo Inc.', 'Challenge Air Cargo Inc.',
       'Aerosvit Ukranian Airlines', 'Caribbean Sun Airlines',
       'Caribbean Sun Airlines, Inc. d/b/a World Atlantic Airlines',
       'Jet Connection Businessflight Ag', 'ATA Airlines d/b/a ATA',
       'American Trans Air Inc.', 'Cargojet Airways Ltd.',
       'Winnport Logistics', 'Midwest Airline, Inc.',
       'Midwest Express Airlines', 'Bellair Inc.', 'MK Airlines Ltd.',
       'Olson Air Service', 'Smokey Bay Air Inc.',
       'Frontier Flying Service',
       'Bidzy Ta Hot Aana, Inc. d/b/a Tanana Air Service',
       'Tanana Air Service', 'Warbelow', 'Yute Air Aka Flight Alaska',
       'Arctic Circle Air Service', 'Cape Smythe Air Service',
       'Corvus Airlines, Inc d/b/a Era Aviation d/b/a Ravn Alaska',
       'Era Aviation', 'Inland Aviation Services',
       'Arctic Transportation', 'Ryan Air f/k/a Arctic Transportation',
       'Bering Air Inc.', 'Baker Aviation Inc.', 'Wright Air Service',
       'Jmc', 'Thomas Cook Airlines Uk Ltd.', 'Boston-Maine Airways',
       'Hageland Aviation Service', 'Alaska Seaplane Service',
       'Kalinin Aviation LLC d/b/a Alaska Seaplanes',
       'Larrys Flying Service', 'L.A.B. Flying Service Inc.',
       'SeaPort Airlines, Inc. d/b/a Wings of Alaska',
       'Seaport Airlines, Inc.', 'Wings Of Alaska',
       'Alaska Central Express', '40-Mile Air',
       'Ryan International Airlines', 'Regency Air', 'Iliamna Air Taxi',
       'Pro Air Inc.', 'Lan Ecuador', 'Promech', 'Lan Dominica',
       'Primaris Airlines Inc.', 'Dynamic Aviation, Inc. d/b/a Beacon',
       'Servant Air Inc.', 'Aerodynamics Inc.',
       'Aerodynamics Inc. d/b/a SkyValue d/b/a SkyValue Airways',
       'US Airways Inc.', 'Skyway Airlines', 'Astar Air Cargo Inc.',
       'Astar USA, LLC', 'DHL Airways', 'Great Lakes Airlines',
       'Great Lakes Aviation Ltd.', 'Triair Bermuda Flt Operations',
       'Sata Internacional', 'Valley Air Express Inc.',
       'China Cargo Airline', 'Endeavor Air Inc.',
       'Pinnacle Airlines Inc.', 'Canjet Airlines',
       'Atlantic Southeast Airlines', 'ExpressJet Airlines Inc.',
       'ExpressJet Airlines LLC', 'Freedom Air', 'Allegiant Air',
       'Kalitta Air LLC', 'Reliant Airlines', 'Kalitta Charters II',
       'Propair', 'Air 2000 Limited', 'First Choice Airways',
       'Mn Aviation, Inc.', 'Omni Air Express',
       'Omni Air International LLC', 'Mesa Airlines Inc.',
       'Zantop International', 'Prince Edward Air',
       'SkyLink Express Inc.', 'Air Atlanta Europe',
       'Victory Air Transport Inc.',
       'Venture Travel LLC d/b/a Taquan Air Service',
       'Pan American Airways Corp.', 'Flying Boat Inc.',
       'Florida Coastal Airlines', 'Belair Airlines Ltd.',
       'Israir Airlines', 'Emirates', 'Harmony Airways',
       'Hmy Airways Inc.', 'Euro Atlantic Airways', 'PSA Airlines Inc.',
       'American Eagle Airlines Inc.', 'Envoy Air', 'Planet Airways',
       'Capital Cargo International', 'Gulfstream Int', 'Silver Airways',
       'Miami Air International', 'Atlantic Coast Airlines',
       'Independence Air', 'Murray Air',
       'National Air Cargo Group Inc d/ba National Airlines',
       'National Air Cargo Group, Inc. d/b/a Murray Air',
       'BNJ Charter Company', 'NetJets Large Aircraft Company L.L.C.',
       'Corporate Airlines', 'Regions Air, Inc.',
       'Tatonduk Outfitters Limited d/b/a Everts Air Alaska and Everts Air Cargo',
       'Tatonduk Outfitters Limited d/b/a Tatonduk Flying Service',
       'JetBlue Airways', 'Arizona Express', 'Skagway Air Service',
       'Executive Airlines', 'North American Airlines',
       'Spirit Air Lines', 'Comair Inc.', 'Chautauqua Airlines Inc.',
       'Sky King Inc.', 'Sun Country Airlines',
       'Sun Country Airlines d/b/a MN Airlines', 'USA 3000 Airlines',
       'Eagle Canyon Airlines d/b/a Scenic Airlines',
       'Grand Canyon Airlines, Inc. d/b/a Grand Canyon Airlines d/b/a Scenic Airlines',
       'Scenic Airlines Inc. d/b/a Scenic Airlines',
       'Vieques Air Link Inc.', 'Piedmont Airlines',
       'Volga-Dnepr Airlines', 'Frontier Airlines Inc.',
       'AirTran Airways Corporation', 'Homer Air', 'Legend Airlines',
       'Varig Logistica S/A', 'Island Air Service', 'Excel Airways',
       'Commutair Aka Champlain Enterprises, Inc.',
       'Aerotransportes Mas De Crga', 'USA Jet Airlines Inc.',
       'Shuttle America Corp.', 'Aero-Services-Corporate',
       'Omega Air Holdings d/b/a Focus Air', 'Transmile Air Service',
       'Republic Airline', 'Republic Airlines', 'ABX Air Inc',
       'Airborne Express Inc.', 'EOS Airlines, Inc.', 'Grant Aviation',
       'GoJet Airlines LLC d/b/a United Express', 'MAXjet',
       'Abaco Air, Ltd.', 'Challenge Air Luftverkehrs GmbH',
       'PM Air, LLC', 'Harris Air Services', 'Tyrolean Jet Service',
       'Titan Airways', 'TUI Airlines Nederland B.V.',
       'Aerounion ( Aerotransporte de Carga Union SA de CV',
       'Aerounion Aerotransporte de Carga Union SA de CV',
       'Cargo 360, Inc.', 'Globespan Airways Limited d/b/a Flyglobespan',
       'Arrow Panama', 'Tradewind Aviation', 'LAN Argentina',
       'US Helicopter Corporation', 'Comlux Aviation, AG',
       'Etihad Airways', 'Pacific Airways, Inc.',
       'Flyjet Limited d/b/a Silverjet', 'TravelspanGT, Inc. S.A.',
       "Elysair d/b/a L'Avion", 'ANA & JP Express Co. Ltd.',
       'VistaJet Luftfahrtunternehmen GmbH', 'JetClub AG',
       'Flair Airlines Ltd.', 'Avior Airlines, C.A.',
       'Flying Service N.V.', 'Master Top Linhas Aereas, Ltda.',
       'Global Jet Austria, GmbH', 'Global Jet Luxembourg, Sa',
       'Swift Air, LLC',
       'Swift Air, LLC d/b/a Eastern Air Lines d/b/a Eastern',
       'Compass Airlines', 'Virgin America', 'Skybus Airlines, Inc.',
       'Skyservice Airlines, Inc.', 'DCA', 'Eurofly S.p.A',
       'ACM AIR CHARTER GmbH', 'CAT Aviation',
       'Inter Island Airways, d/b/a Inter Island Air',
       'Polar Airlines de Mexico d/b/a Nova Air',
       'Lynx Aviation d/b/a Frontier Airlines', 'Vladivostok Air',
       'Porter Airlines, Inc.', 'Sunwing Airlines Inc.',
       'Vision Airlines', 'Mokulele Flight Services, Inc.',
       'Star Air A/S', 'Metropix UK, LLP.',
       'Multi-Aero, Inc. d/b/a Air Choice One',
       'Santa Barbara Airlines, C.A', 'Jet Airways (India) Limited',
       'Qatar Airways (Q.C.S.C)',
       'Yangtze River Express Airlines Company',
       'Hainan Airlines Company Limited',
       'JetAlliance Flugbetriebs d/b/a JAF Airservice', 'Open Skies',
       'Aeromexico Travel', 'Pan American World Airways Dominicana',
       'TAG Aviation S.A.', 'TAG Aviation (UK) Ltd.',
       'TAG Aviation Espana S.L.', 'Air Greco, Inc., d/b/a Wings Air',
       'Corporatejets, XXI', 'Aerosur',
       'Great Wall Airlines Company Limited', 'Comlux Malta, Ltd.',
       'Aeroenlaces Nacionales, S.A. de C.V. d/b/a VivaAerobus',
       'Ocean Sky (UK) Limited',
       'Concesionaria Vuela Compania De Aviacion SA de CV (Volaris)',
       'Avjet Corporation', 'Jetstar Airways Pty Limited',
       'Air Berlin PLC and CO', 'XL Airways France',
       'Aeroservices Executive', 'Lan Colombia', 'Air Excursions LLC',
       'Virgin Blue International Airlines t/a V Australia',
       'Prescott Support Company, Inc.', 'Acropolis Aviation Ltd.',
       'Swiss Air Ambulance', 'Insel Air International B V',
       'Jin Air Co Ltd.', 'Jet Aviation Business Jets AG', 'Unijet',
       'AeroLogic GmbH', 'Airitaly S.P.A.', 'Meridiana S.p.A', 'Corsair',
       'Corsair International', 'Chartright Air Inc.',
       'Hapag-Lloyd Express GmbH', 'London Air Services Limited',
       'Air Alsie A/S', 'Albinati Aeronautics SA',
       'Skymark Airlines Inc.', 'Aerovias de Intergracian Regional',
       'Arik Air International', 'Charter Air Transport, Inc.',
       'Via Airlines d/b/a Charter Air Transport',
       'AirBridgeCargo Airlines Limited', 'Dynamic Airways, LLC',
       'Eastern Airlines f/k/a Dynamic Airways, LLC',
       'Island Airlines LLC', 'Aerolineas Galapagos S A Aerogal',
       'KaiserAir, Inc.', 'Alsek Air', 'Transportes Aeromar S.A de C.V',
       'International Jet Management GmbH', 'Jet link AG',
       'TUI Airlines Belgium N.V. d/b/a Jetairfly',
       'Sichuan Airlines Co Ltd.',
       'Exec Direct Aviation Services Limited', 'Brussels Airlines N.V.',
       'VistaJet Limited', 'Amira Air GmbH', 'Laudamotion GmbH',
       'Star Marianas Air Inc.', 'Bertelsmann Aviation GmbH',
       'Air Company Yakutia', 'Rhoades Aviation dba Transair',
       'ABC Aerolineas SA de CV dba Interjet',
       'Norwegian Air Shuttle ASA', 'Cargolux Italia SpA',
       'Reeve Air Alaska, LLC', 'Tame Linea Aerea del Ecuador Tme EP',
       'Gainjet Aviation SA', 'Jeju Air Co Ltd.',
       'Scott Air LLC dba Island Air Express',
       'Ultimate JetCharters LLC dba Ultimate Air Shuttle', 'WOW Air ehf',
       'Boutique Air', 'Dassault Falcon Service', 'VRG Linhas Aereas S A',
       'Fly Jamaica Airways Limited', 'Ukraine International Airlines',
       'Air Canada rouge LP', 'Sky Regional Airlines Inc.',
       'Makani Kai Air Charters', 'City Wings Inc dba Seaflight',
       'Air Charter, Inc d/b/a Air Flamenco',
       'Southern Airways Express, dba Mokulele Airlines',
       'Sun Air Express LLC dba Sun Air International', 'Jet2.com',
       'Western Global', 'Comlux Aruba NV', 'Orange Air',
       'Aloha Air Cargo', 'CFM Inc d/b/a Contour Airlines',
       'CFM Inc d/b/a Contour Airlines d/b/a One Jet Shuttle',
       'Corporate Flight Management Inc.',
       'Corporate Flight Management Inc.d/b/a Crystal Luxury Air',
       'Gem Air LLC', 'Azul Linhas Aereas Brazileiras S A',
       'Songbird Airways Inc.', 'Blue Jet SP Z o o', 'Mjet GmbH',
       'Eastern Airlines Group Inc.', 'Albinati aviation Limited',
       'Jet Aviation Flight Services, Inc.',
       'Menagerie Enterprises Inc d/b/a Monarch Air',
       'Erickson Helicopters', 'ABS JETS A.S',
       'Air Asia X Berhad dba Airasia X', 'Oceanair Linhas Aereas S A',
       'Fast Colombia SAS d/b/a Viva Colombia', 'Inselair Aruba NV',
       'J&M Alaska Air Tours, Inc. d/b/a Alaska Air Transit',
       'Compagnie Aerienne Inter Regionale Express dba Air Antilles Express & Air Guyane',
       'Cebu Air Inc d/b/a Cebu Pacific Air', 'Azerbaijan Airlines CJSC',
       'Cavok Air LLC', 'Silk Way West Airlines',
       'Hong Kong Airlines Limited', 'Elite Airways LLC',
       'Delux Public Charter LLC', 'Eurowings GmbH', 'Abelag Aviation AG',
       'Longtail Aviation Ltd.', 'Air Serbia', 'Tropic Ocean Airways LLC',
       'Talofa Airways Limited', 'Luxaviation S A',
       'Trans Northern Airways d/b/a Air Unlimited Charter Services',
       'Xiamen Airlines Co., Ltd.',
       'Air Philippines Corp d/b/a Airphil Express, Philippines Airlines',
       'Cargologicair Limited', 'Eastar Jet Co Ltd.',
       'Hong Kong Express Airways Limited', 'Svenskt Industriflyg AB',
       'Paklook Air, Inc d/b/a/ Airlift Alaska d/b/a/ Yute Commuter Service',
       'Beijing Capital Airlines', 'Norwegian Air International Ltd.',
       'Public Charters, Inc. d/b/a North Country Sky d/b/a Regional Sky d/b/a Texas Sky',
       'Polaris Aviation Solutions, LLC',
       'Scoot Tigerair Pte Ltd d/b/a Scoot',
       'Air Hamburg Luftverkehrsgesellschaft mbH',
       'Hillwood Airways, LLC  f/k/a   ATX Air Services, LLC',
       'Key Lime Air Corporation', 'Evelop Airlines SL',
       'ADVANCED AIR, LLC', 'Maritime Helicopters, Inc.',
       'Flying Group Lux S.A.', 'Norwegian Air UK Limited',
       'Primera Air Scandinavia',
       'Nealco Air Charter Services, Inc.  d/b/a  Watermakers Air',
       'Kenya Airways PLC', 'Glock Aviation GmbH',
       'Rectrix Aviation, Inc.',
       'Tantalus Air Ltd. d/b/a Harbour Air d/b/a Harbour Air Seaplanes',
       'Scott Aviation, LLC  d/b/a  Silver Air',
       'European Air Transport Leipzig GmbH', 'Luxaviation Germany GmbH',
       'Vuela Aviacion, S.A.', 'OPENSKIES SAS', 'Aviateca, S.A.',
       'FAI rent-a-jet AG', 'TAG Aviation (Malta) Ltd.', 'Gestair, S.A.',
       'Skyfirst Limited', 'French bee', 'Laudamotion Executive',
       'ACE Belgium Freighters S.A.', 'Challenge Airlines (BE) S.A.',
       'Concierge U Ltd. d/b/a Jet Concierge Club',
       'Elitavia Malta Limited', 'Prince Aviation',
       'Volkswagen AirSevice GmbH dba Volkswagon',
       'Hyperion Aviation Ltd. dba Hyperion', 'SWOOP Inc.',

In [25]:
passengers.YEAR.min()

2000

In [26]:
passengers.YEAR.max()

2020

In [27]:
passengers[(passengers['CARRIER_NAME'] == 'Southwest Airlines Co.')]

,Sum_PASSENGERS,AIRLINE_ID,CARRIER_NAME,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,YEAR,MONTH
139227,121,19393.0,Southwest Airlines Co.,ABE,"Allentown/Bethlehem/Easton, PA",PA,Pennsylvania,US,United States,MCO,"Orlando, FL",FL,Florida,US,United States,2005,4
139228,101,19393.0,Southwest Airlines Co.,ABE,"Allentown/Bethlehem/Easton, PA",PA,Pennsylvania,US,United States,MCO,"Orlando, FL",FL,Florida,US,United States,2005,5
139229,134,19393.0,Southwest Airlines Co.,ABE,"Allentown/Bethlehem/Easton, PA",PA,Pennsylvania,US,United States,MCO,"Orlando, FL",FL,Florida,US,United States,2007,3
139230,131,19393.0,Southwest Airlines Co.,ABE,"Allentown/Bethlehem/Easton, PA",PA,Pennsylvania,US,United States,MCO,"Orlando, FL",FL,Florida,US,United States,2007,4
139231,107,19393.0,Southwest Airlines Co.,ABE,"Allentown/Bethlehem/Easton, PA",PA,Pennsylvania,US,United States,TRI,"Bristol/Johnson City/Kingsport, TN",TN,Tennessee,US,United States,2005,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747001,136,19393.0,Southwest Airlines Co.,YNG,"Youngstown/Warren, OH",OH,Ohio,US,United States,PIA,"Peoria, IL",IL,Illinois,US,United States,2015,10
747002,113,19393.0,Southwest Airlines Co.,YNG,"Youngstown/Warren, OH",OH,Ohio,US,United States,ROA,"Roanoke, VA",VA,Virginia,US,United States,2005,9
747003,115,19393.0,Southwest Airlines Co.,YNG,"Youngstown/Warren, OH",OH,Ohio,US,United States,SGF,"Springfield, MO",MO,Missouri,US,United States,2010,10
747004,140,19393.0,Southwest Airlines Co.,YNG,"Youngstown/Warren, OH",OH,Ohio,US,United States,SGF,"Springfield, MO",MO,Missouri,US,United States,2014,10
747005,142,19393.0,Southwest Airlines Co.,YNG,"Youngstown/Warren, OH",OH,Ohio,US,United States,SGF,"Springfield, MO",MO,Missouri,US,United States,2016,11

In [28]:
airlines.isnull().sum()

Airline ID      0
Name_al         0
IATA_al       240
ICAO_al        29
Country_al      2
Active          0
dtype: int64

### Delays - Airline Delay Cause

In [29]:
delays = pd.read_csv('../Data/Airline_Delay_Cause_2010_20.csv')
delays.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2019,12,EV,ExpressJet Airlines LLC,BDL,"Hartford, CT: Bradley International",14.0,4.0,2.00,0.00,...,0.0,2.00,0.0,0.0,114.0,61.0,0.0,0.0,0.0,53.0
1,2019,12,EV,ExpressJet Airlines LLC,BGR,"Bangor, ME: Bangor International",34.0,16.0,4.12,0.00,...,0.0,7.98,2.0,0.0,1450.0,682.0,0.0,231.0,0.0,537.0
2,2019,12,EV,ExpressJet Airlines LLC,BHM,"Birmingham, AL: Birmingham-Shuttlesworth Inter...",65.0,13.0,4.52,0.04,...,0.0,2.48,0.0,0.0,572.0,233.0,2.0,206.0,0.0,131.0
3,2019,12,EV,ExpressJet Airlines LLC,BNA,"Nashville, TN: Nashville International",120.0,41.0,11.01,0.74,...,0.0,15.25,6.0,0.0,2638.0,670.0,164.0,685.0,0.0,1119.0
4,2019,12,EV,ExpressJet Airlines LLC,BRO,"Brownsville, TX: Brownsville South Padre Islan...",96.0,17.0,8.01,0.00,...,0.0,4.33,1.0,0.0,1037.0,578.0,0.0,139.0,0.0,320.0

In [30]:
delays.rename(columns = {'year':'year_del', 'month':'month_del', 'carrier':'al_iata_del', 'carrier_name':'carrier_del','airport':'airport_del', 'airport_name':'airport_del'}, inplace=True)
delays.head(1)

,year_del,month_del,al_iata_del,carrier_del,airport_del,airport_del,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2019,12,EV,ExpressJet Airlines LLC,BDL,"Hartford, CT: Bradley International",14.0,4.0,2.0,0.0,...,0.0,2.0,0.0,0.0,114.0,61.0,0.0,0.0,0.0,53.0

In [31]:
#delays['new_carrier_name'] = delays['carrier_name']
#delays.head(2)

In [32]:
#delays['new_carrier_name'] = delays['new_carrier_name'].str.replace('-',' ')
#delays.head(2)

In [33]:
#delays['new_carrier_name'] = delays['new_carrier_name'].str.extract(r'(\w+\s+\w+)')
#delays.head(5)

In [34]:
print(sorted(delays['carrier_del'].unique()))

['AirTran Airways Corporation', 'Alaska Airlines Inc.', 'Allegiant Air', 'American Airlines Inc.', 'American Eagle Airlines Inc.', 'Atlantic Southeast Airlines', 'Comair Inc.', 'Continental Air Lines Inc.', 'Delta Air Lines Inc.', 'Endeavor Air Inc.', 'Envoy Air', 'ExpressJet Airlines Inc.', 'ExpressJet Airlines LLC', 'Frontier Airlines Inc.', 'Hawaiian Airlines Inc.', 'JetBlue Airways', 'Mesa Airlines Inc.', 'PSA Airlines Inc.', 'Pinnacle Airlines Inc.', 'Republic Airline', 'SkyWest Airlines Inc.', 'Southwest Airlines Co.', 'Spirit Air Lines', 'US Airways Inc.', 'United Air Lines Inc.', 'Virgin America']

In [37]:
delays.columns

Index(['year_del', 'month_del', 'al_iata_del', 'carrier_del', 'airport_del',
       'airport_del', 'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct',
       'nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_cancelled',
       'arr_diverted', 'arr_delay', 'carrier_delay', 'weather_delay',
       'nas_delay', 'security_delay', 'late_aircraft_delay'],
      dtype='object')

### Airplanes

In [39]:
airplanes = pd.read_csv('../Data/airplanes.csv')
airplanes.head()

                                           Name IATA code ICAO code
0                       Aerospatiale (Nord) 262       ND2      N262
1  Aerospatiale (Sud Aviation) Se.210 Caravelle       CRV      S210
2                  Aerospatiale SN.601 Corvette       NDC      S601
3                Aerospatiale/Alenia ATR 42-300       AT4      AT43
4                Aerospatiale/Alenia ATR 42-500       AT5      AT45

In [40]:
airplanes.rename(columns = {'Name':'Plane', 'IATA code':'Plane_IATA','ICAO code':'Plane_ICAO'}, inplace=True)
airplanes.head()

                                          Plane Plane_IATA Plane_ICAO
0                       Aerospatiale (Nord) 262        ND2       N262
1  Aerospatiale (Sud Aviation) Se.210 Caravelle        CRV       S210
2                  Aerospatiale SN.601 Corvette        NDC       S601
3                Aerospatiale/Alenia ATR 42-300        AT4       AT43
4                Aerospatiale/Alenia ATR 42-500        AT5       AT45

In [41]:
airplanes.isnull().sum()

Plane         0
Plane_IATA    0
Plane_ICAO    0
dtype: int64

### Routes

In [42]:
routes = pd.read_csv('../Data/routes.csv')
routes.head()

,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2

In [43]:
routes.shape

(67663, 9)

In [44]:
routes.isnull().sum()

Airline                       0
Airline ID                    0
Source airport                0
Source airport ID             0
Destination airport           0
Destination airport ID        0
Codeshare                 53066
Stops                         0
Equipment                    18
dtype: int64

In [45]:
routes.drop('Codeshare', axis=1, inplace=True)
routes.head(1)

,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Stops,Equipment
0,2B,410,AER,2965,KZN,2990,0,CR2

In [46]:
routes.rename(columns = {'Airline':'Airline_IATA_r', 'Airline ID':'Airline_ID_r','Stops':'Stops_r','Equipment':'Plane_IATA_r'}, inplace=True)
routes.head(1)

,Airline_IATA_r,Airline_ID_r,Source airport,Source airport ID,Destination airport,Destination airport ID,Stops_r,Plane_IATA_r
0,2B,410,AER,2965,KZN,2990,0,CR2

In [47]:
### Finding Number of Carrier Delays by more than 15 minutes
### Join Airlines with Delays

In [49]:
delays.head(2)

,year_del,month_del,al_iata_del,carrier_del,airport_del,airport_del,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2019,12,EV,ExpressJet Airlines LLC,BDL,"Hartford, CT: Bradley International",14.0,4.0,2.00,0.0,...,0.0,2.00,0.0,0.0,114.0,61.0,0.0,0.0,0.0,53.0
1,2019,12,EV,ExpressJet Airlines LLC,BGR,"Bangor, ME: Bangor International",34.0,16.0,4.12,0.0,...,0.0,7.98,2.0,0.0,1450.0,682.0,0.0,231.0,0.0,537.0

In [51]:
delays.carrier_del.unique()

array(['ExpressJet Airlines LLC', 'Frontier Airlines Inc.',
       'Allegiant Air', 'Hawaiian Airlines Inc.', 'Envoy Air',
       'Spirit Air Lines', 'Southwest Airlines Co.', 'Mesa Airlines Inc.',
       'Republic Airline', 'PSA Airlines Inc.', 'SkyWest Airlines Inc.',
       'United Air Lines Inc.', 'Endeavor Air Inc.',
       'American Airlines Inc.', 'Alaska Airlines Inc.',
       'JetBlue Airways', 'Delta Air Lines Inc.',
       'ExpressJet Airlines Inc.', 'Virgin America', 'US Airways Inc.',
       'AirTran Airways Corporation', 'American Eagle Airlines Inc.',
       'Pinnacle Airlines Inc.', 'Atlantic Southeast Airlines',
       'Continental Air Lines Inc.', 'Comair Inc.'], dtype=object)

In [52]:
delays.columns

Index(['year_del', 'month_del', 'al_iata_del', 'carrier_del', 'airport_del',
       'airport_del', 'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct',
       'nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_cancelled',
       'arr_diverted', 'arr_delay', 'carrier_delay', 'weather_delay',
       'nas_delay', 'security_delay', 'late_aircraft_delay'],
      dtype='object')

In [54]:
airlines.Name_al.unique()

array(['Unknown', 'Private flight', '1Time Airline', ...,
       'Jetgo Australia', 'Air Carnival', 'Svyaz Rossiya'], dtype=object)

In [55]:
airlines.head()

    Airline ID           Name_al IATA_al ICAO_al     Country_al Active
0           -1           Unknown       -     NaN             \N      Y
1            1    Private flight       -     NaN            NaN      Y
3            3     1Time Airline      1T     RNX   South Africa      Y
10          10       40-Mile Air      Q5     MLA  United States      Y
13          13  Ansett Australia      AN     AAA      Australia      Y

In [56]:
delays.isnull().sum()

year_del                 0
month_del                0
al_iata_del              0
carrier_del              0
airport_del              0
airport_del              0
arr_flights            162
arr_del15              195
carrier_ct             162
weather_ct             162
nas_ct                 162
security_ct            162
late_aircraft_ct       162
arr_cancelled          162
arr_diverted           162
arr_delay              162
carrier_delay          162
weather_delay          162
nas_delay              162
security_delay         162
late_aircraft_delay    162
dtype: int64

In [57]:
delays.columns

Index(['year_del', 'month_del', 'al_iata_del', 'carrier_del', 'airport_del',
       'airport_del', 'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct',
       'nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_cancelled',
       'arr_diverted', 'arr_delay', 'carrier_delay', 'weather_delay',
       'nas_delay', 'security_delay', 'late_aircraft_delay'],
      dtype='object')

In [58]:
airlines.columns

Index(['Airline ID', 'Name_al', 'IATA_al', 'ICAO_al', 'Country_al', 'Active'], dtype='object')

In [62]:
#mergedStuff = pd.merge(df1, df2, on=['Name'], how='inner')
delays_air = delays.merge(airlines, left_on='al_iata_del', right_on='IATA_al', how='left')
delays_air.head(2)

,year_del,month_del,al_iata_del,carrier_del,airport_del,airport_del,arr_flights,arr_del15,carrier_ct,weather_ct,...,weather_delay,nas_delay,security_delay,late_aircraft_delay,Airline ID,Name_al,IATA_al,ICAO_al,Country_al,Active
0,2019,12,EV,ExpressJet Airlines LLC,BDL,"Hartford, CT: Bradley International",14.0,4.0,2.00,0.0,...,0.0,0.0,0.0,53.0,452,Atlantic Southeast Airlines,EV,ASQ,United States,Y
1,2019,12,EV,ExpressJet Airlines LLC,BGR,"Bangor, ME: Bangor International",34.0,16.0,4.12,0.0,...,0.0,231.0,0.0,537.0,452,Atlantic Southeast Airlines,EV,ASQ,United States,Y

In [60]:
#can also use iterrows
#for x in airlines.itertuples():
#    if x[2].find('ExpressJet') != -1:
#        print(x)

In [ ]:
#thinking about joining on airline name after filter but expressjet appears to be the only one with a history of changes in delays data
#express = airlines[airlines['Name'].str.contains('ExpressJet')]
#express.head()

In [ ]:
delays_all_airlines = delays_air.groupby(['carrier_name'])['arr_del15'].sum().sort_values(ascending=False).reset_index(name='sum_delays')
delays_all_airlines.head(2)

In [ ]:
sum_arr_air = delays_air.groupby(['carrier_name'])['arr_flights'].sum().sort_values(ascending=False).reset_index(name='sum_arrivals')
sum_arr_air.head(2)

In [ ]:
delays_all_airlines = delays_all_airlines.merge(sum_arr_air, left_on='carrier_name', right_on='carrier_name', how='left')
delays_all_airlines.head()

### -----------------------------------------------------------------------------

### Top/Bottom Airline Delay Percentage from 2010-2019

In [ ]:
delays_all_airlines['pct_delay'] = delays_all_airlines['sum_delays'] / delays_all_airlines['sum_arrivals']
delays_all_airlines = delays_all_airlines.sort_values(by='pct_delay', ascending=False)
delays_all_airlines.tail(10)

In [ ]:
delays.year.min()

In [ ]:
delays.year.max()

# -----------------------------------------------------------

### Average & Mean Delays for All Airlines

In [ ]:
delays_all_airlines.sum_delays.sum() / delays_all_airlines.sum_arrivals.sum()

In [ ]:
delays_all_airlines.pct_delay.mean()

### --------------------------------------------------------------------------------

In [ ]:
delays_air.head(1)

In [ ]:
delays_air.rename(columns = {'iata_code':'carrier_code'}, inplace=True)
delays_air.rename(columns = {'airport':'airport_code_del'}, inplace=True)
delays_air.rename(columns = {'airport_name':'airport_name_del'}, inplace = True)
delays_air.head(1)

In [ ]:
delays_air.columns

In [ ]:
#column_names = ["C", "A", "B"]


#df = df.reindex(columns=column_names)

In [ ]:
#finding month of most airline delays of 15 minutes or more
delays_air.groupby(['year', 'month', 'carrier_name','arr_flights', 'arr_del15'])['arr_del15'].sum().sort_values(ascending=False).reset_index(name='sum_delays')